.nav {
	width: 100%;

	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0;

	display: block;
	position: sticky;
	top: 0px;

	background-color: #FFFFFF;

	font-size: 14px;

	.navWrapper {
		width: 1300px;

		margin: auto;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.menuWrapper {
			display: flex;
			flex-direction: row;
			align-items: center;

			.logo {
				display: flex;
			}

			.button {
				display: flex;

				margin: 0 0 0 20px;

				color: #74747d;

				&:hover {
					cursor: pointer;
				}
			}

			.input {
				width: 200px;

				margin: 0 0 0 auto;
				border: 1px solid #f2f2f2;
				border-radius: 5px;
				padding: 10px 15px;

				display: flex;

				background-color: #f2f2f2;


				outline: none;
			}

			.input:focus {
				border-color: #d9d9d9;
			}

			.input::placeholder {
				color: #74747d;
			}
		}
	}
}