.nav {
	height: 30px;


	border-bottom: 1px solid #d9d9d9;
	padding: 15px 30px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: sticky;
	top: 0px;

	background-color: #FFFFFF;

	.menuWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;

		.logo {
			display: flex;
		}

		.button {
			display: flex;

			margin: 0 0 0 20px;

			color: #74747d;
		}

		.input {
			display: flex;

			margin: 0 0 0 auto;
		}
	}
}